#admin-menu {	
	border-bottom: 1px solid #aaa;
	padding: 10px 5px;
}

li {
	list-style: none;
	padding: 15px 0;
	clear: left;
	border-bottom: 1px solid #ddd;
}

li img {
	margin: 5px 10px 0 0;
	padding: 2px;
	border: 1px solid #ccc;
	float: left;
	display: block;
}

#main-content h2 {
	font-size: 18px;
	padding: 0 0 5px 0;
}

#main-content h2 img {
	float: none;
	display: inline;
	border: none;
	padding: 0;
	margin: 5px 0 0 5px;
}

.admin-options {
	text-align: right;
}

.story-summary {
	color: #000;
}

.story-details {
	margin: 5px 0 0;
	font-size: 12px;
	color: #222;
}

.story-location {
	color: #777;
}

#main-content {
	margin-top: 0;
}

.comment {
	margin: 10px 0 0 50px;
}